/*================  import font ================*/
@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/vazir-font/Vazir-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/vazir-font/Vazir-Medium.woff2") format("woff2");

}

@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/vazir-font/Vazir-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "vazir";
    font-style: normal;
    font-weight: 900;
    src: url("../assets/vazir-font/Vazir-Black.woff2") format("woff2");
}

/*================  icomoon ================*/
@font-face {
    font-family: 'icomoon';
    src: url('../assets/vazir-font/icomoon.woff?8gep4h') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
    content: "\e900";
    color: #fff;
}
.icon-bottom-arrow:before {
    content: "\e901";
    color: #707174;
}

/*================  css Reset ================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: vazir, sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: vazir, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button{
    cursor: pointer;
    border: none;
}

/*================  root ================*/
:root {
    --primary-light: #5DA0FB;
    --primary-main: #3E8DF7;
    --primary-dark: #1C79F6;
    --secondary-light: #F5CD70;
    --secondary-main: #F5BE41;
    --secondary-dark: #F8B214;
    --white: #FFFFFF;
    --neutral-25: #F9F9F9;
    --neutral-50: #EAEAEA;
    --neutral-100: #BDBDBF;
    --neutral-200: #9D9D9F;
    --neutral-300: #707174;
    --neutral-400: #555559;
    --neutral-500: #2A2B2F;
    --black: #000000;
}