/*======================  import ======================*/
@import "_base.css";

/*======================  main style ======================*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 92%;
}

.row {
    width: 100%;
}

.circle {
    border-radius: 50%;
}

.--pointer {
    cursor: pointer;
}

.--hover:hover {
    color: var(--primary-main);
}

/*======================  navbar ======================*/
.navbar {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;

}

/*======  toggle button ======*/
.navbar__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*======  main menu ======*/
.navbar__main-menu {
    display: flex;
    align-items: center;
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar__logo-image {
    width: 100%;
}

.menu {
    margin-right: 40px;
    display: none;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items__item {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 168%;
    color: var(--black);
    margin-right: 24px;
    cursor: pointer;
}

.menu-items__item:hover {
    color: var(--primary-main);
}

.icon-bottom-arrow {
    vertical-align: middle;
    font-size: 1.5rem;
}

.menu-items__item:hover .icon-bottom-arrow::before {
    color: var(--primary-main);
}

/*======  login button ======*/
.navbar__login {
    color: var(--primary-main);
    font-size: .875rem;
    font-weight: 700;
    line-height: 168%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

.navbar__login:hover {
    background-color: rgba(62, 141, 247, 0.1);
}

/*======================  header ======================*/
.header {
    background: linear-gradient(215.92deg, #FFFFFF 21.89%, #E2F0FD 79%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.header-container {
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*======  banner ======*/
.banner {
    text-align: center;
    margin-bottom: 48px;
}

.banner__title {
    font-size: 2rem;
    font-weight: 900;
    line-height: 149%;
    color: var(--neutral-400);
    margin-bottom: 24px;
}

.banner__description {
    color: var(--black);
}

.banner__description-subtitle {
    font-weight: 500;
    line-height: 154%;
    margin-bottom: 8px;
}

.banner__description-caption {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 168%;
}

/*======  category for types ======*/
.category {
    margin-bottom: 32px;
}

.category__type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.type__card-container {
    padding: 4px;
    width: 33%;
}

.type__card {
    background-color: var(--white);
    border: 1px solid var(--neutral-50);
    border-radius: 24px;
    min-height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.type__card:hover {
    border: solid 1px var(--black);
    box-shadow: 0 0 0 1px #4a4a4a;
}

.type__card-tag {
    background-color: #EBF3E9;
    color: #3C8825;
    border-radius: 24px;
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 164%;
    position: absolute;
    top: -18px;
    left: 0;
    padding: 4px 8px;
}

.type__card-image {
    display: flex;
}

.type__card-image img {
    width: 100%;
}

.type__card-text {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 149%;
    color: var(--neutral-400);
}

/*======  line ======*/
.category__line {
    height: 1px;
    background-color: var(--primary-light);
    margin: 24px 0;
}

/*======  category for accidents ======*/
.category__accident {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.accident__card-container {
    width: 50%;
    padding: 4px;
}

.accident__card {
    background-color: var(--white);
    border: 1px solid var(--neutral-50);
    border-radius: 16px;
    padding: 12px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.accident__card:hover {
    border: solid 1px var(--black);
    box-shadow: 0 0 0 1px #4a4a4a
}

.accident__card-image {
    display: flex;
}

.accident__card-text {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 168%;
    color: var(--neutral-400);
}

/*======  bottom image ======*/
.header__image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image__headBackground {
    transform: translateY(1%);
}

/*======================  content  ======================*/
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*======================  car bicycle image  ======================*/
.car-bicycle__container {
    padding: 16px 0 48px 0;
    display: flex;
    justify-content: center;
}

.car-bicycle__image {

}

/*======================  Damage  ======================*/
.damage {
    display: flex;
    justify-content: center;
    background-color: var(--neutral-25);
}

.damage-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.damage__content {
    margin: 40px 0 60px 0;
}

/*======  damage banner ======*/
.damage__title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 166%;
    color: var(--neutral-500);
}

.damage__description {
    text-align: right;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 169%;
    margin: 16px 0 8px 0;
    color: var(--neutral-300);
}

/*======  damage option ======*/
.damage__option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.option__item-container {
    width: 71%;
    padding: 8px;
}

.option__item {
    background-color: var(--white);
    border-radius: 32px;
    padding: 6px;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 168%;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__number {
    color: var(--secondary-main);
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 175%;
    margin-left: 16px;
}

/*======  damage button ======*/
.damage__button-container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 24px;
    background-color: var(--primary-main);
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 149%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-dark);
}

.damage__button {
    justify-content: space-between;
}

.button__icon {
    display: flex;
    margin-right: 8px;
}

/*======  damage image ======*/
.damage__image-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: -18px;
}

/*======================  calendar  ======================*/
.calendar-container {
    margin: 96px 0 80px 0;
    position: relative;
}

.calendar {
    border-radius: 24px;
    border: 1px solid var(--black);
    overflow: hidden;
}

/*======  calendar head ======*/
.calendar__head {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 166%;
    padding: 64px 24px 24px 24px;
    background-color: var(--secondary-main);
}

/*======  calendar form ======*/
.calendar__form {
    padding: 18px 11px;
}

.calendar__form-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-item {
    width: 50%;
    padding: 6px;
    position: relative;
}

.calendar__form-label {
    display: flex;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
}

.calendar__form-item {
    cursor: pointer;
    outline: none;
    border: 1px solid var(--neutral-100);
    border-radius: 8px;
    width: 100%;
    appearance: none;
    padding: 10px 8px 10px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 168%;
    color: var(--neutral-300);
}

.calendar__form-item:hover {
    border-color: var(--black);
}

.form-button {
    margin-top: 40px;
}

/*======  calendar icon ======*/
.calendar-icon__right {
    position: absolute;
    top: -12px;
    right: 16px;
}

.calendar-icon__left {
    position: absolute;
    top: -12px;
    left: 16px;
}

/*======================  services  ======================*/
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service__item-container {
    padding: 8px;
}

.service__item {
    display: flex;
    justify-content: center;
    color: var(--neutral-500);
    flex-wrap: wrap;
    border: 1px solid var(--neutral-200);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 0.625rem;
    line-height: 164%;
    font-weight: 500;
    padding: 26px 31px;
    text-align: center;
}

/*======================  slider  ======================*/
.slider-container {
    padding: 147px 16px 152px;
    overflow: hidden;
}

.slider__cards {
    transition: 2s;
    display: flex;
    justify-content: flex-start;
    text-align: center;

}

.slider__card-container {
    padding: 0 12px;
    min-width: 100%;
}

.slider__card {
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.11);
    padding: 24px 48px;
    border: solid 1px var(--white);
}

.slider__card:hover {
    border: solid 1px var(--black);
    box-shadow: 0 0 0 1px #4a4a4a;
}

.slider__image-container {
    display: flex;
    justify-content: center;
}

.slider__image {
    display: flex;
    margin-top: -67px;
}

.slider__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slider__content-title {
    padding: 12px 0 8px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 175%;
}

.slider__content-description {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 169%;
    color: var(--neutral-400);
    text-align: justify;
}

.slider__button {
    padding: 6px 24px;
    margin-top: 32px;
}


/*=========  slider arrow  =========*/
.slider__arrows {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.slider__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
}

.slider__arrow:hover {
  background-color: var(--neutral-50);
}

.--right {
    transform: rotate(180deg);
}

.slider__dots {
    display: flex;
    align-items: center;
}

.slider__dot {
    margin: 0 2px;
    padding: 0 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--neutral-50);
}

.slider__dot--active {
    background-color: var(--primary-main);
}

/*======================  footer  ======================*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*======  about  ======*/
.about {
    text-align: center;
    background-color: var(--primary-main);
    color: var(--white);
    padding: 40px 46px;
}

.about__title {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 166%;
    margin-bottom: 16px;
}

.about__description {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 169%;
}

/*=============  footer content  =============*/
.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 168%;
    color: var(--neutral-500);
    padding: 32px 24px;
    background: linear-gradient(180.22deg, #F9F4E7 0.2%, #E6F6F9 99.83%);
}

.footer__title {
    color: var(--primary-main);
    margin-bottom: 8px;
}

.footer__insurances-item:hover, .footer__quickAccess-item:hover {
    color: var(--primary-main);
    cursor: pointer;
}

/*======  insurances  ======*/
.footer__insurances {
    width: 50%;
}

/*======  quickAccess  ======*/
.footer__quickAccess {
    width: 50%;
}

/*======  footer about  ======*/
.footer__about {
    margin-top: 40px;
}

.footer__connection-item {
    margin-top: 16px;
}

.footer__connection-icon img {
    vertical-align: bottom;
    margin-left: 12px;
}

/*======  footer logos  ======*/
.footer__logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 16px;
}

.footer__logos-image {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 80px;
    height: 80px;
}

/*======  footer copyRight  ======*/
.footer__copyRight {
    background: linear-gradient(90deg, #2151CC -2.05%, #739FF2 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 77px;
}

.footer__copyRight-description {
    color: var(--white);
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 168%;
    margin-bottom: 16px;
}

.footer__copyRight-socialMedia {
    display: flex;
    align-items: center;
}

.footer__copyRight-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 6px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 0 4px;
    cursor: pointer;
}

.footer__copyRight-image img {
    display: flex;
}

/*======================  comment  ======================*/
.comment__icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.icon__link img:hover {
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, .4) !important;
}

.icon__link {
    display: flex;
}

.comment__extend {
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.extend-container {
    width: 80%;
    height: 80%;
    background-color: var(--neutral-50);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon__img {
    display: flex;
    width: 24px;
}

.extend__title {
    font-size: 0.625rem;
    font-weight: 500;
    line-height: 164%;
    color: var(--black);
    text-align: center;
}

/*======================  responsive ======================*/
/*======  tab ======*/
@media (min-width: 600px) {
    /*======================  header ======================*/
    /*======  category for types ======*/
    .type__card-container {
        padding: 12px;
        width: 24%;
    }

    .type__card {
        border-radius: 32px;
        padding: 20px 0;
    }

    .type__card-image {
        width: 48px;
    }

    /*======  category for accidents ======*/
    .accident__card-container {
        width: 35%;
        padding: 12px;
    }

    /*======================  car bicycle image  ======================*/
    .car-bicycle__image {
        width: 85%;
    }

    /*======================  Damage  ======================*/
    /*======  damage option ======*/
    .option__item-container {
        width: 55%;
    }

    /*======  damage image ======*/
    .damage__image-container {
        margin-bottom: -30px;
    }

    /*======================  calendar  ======================*/
    .calendar-container {
        margin: 150px 0 120px 0;
    }

    /*======  calendar head ======*/
    .calendar__head {
        padding: 56px 0 30px 0;
    }

    /*======  calendar form ======*/
    .calendar__form {
        padding: 33px 20px;
    }

    .form-item {
        width: 47%;
        padding: 8px;
    }

    .calendar__form-label {
        left: 32px;
    }

    .calendar__form-item {
        padding: 16px 14px 16px 0;
    }

    /*======  calendar icon ======*/
    .calendar-icon__right {
        right: 38px;
    }

    .calendar-icon__left {
        left: 38px;
    }

    /*======================  footer  ======================*/
    /*=============  footer content  =============*/
    /*======  footer about  ======*/
    .footer__about {
        width: 50%;
    }

    /*======  footer logos  ======*/
    .footer__logos {
        width: 50%;
    }
}

/*======  laptop ======*/
@media (min-width: 900px) {
    /*======================  main style ======================*/
    .container {
        width: 90%;
    }

    /*======================  navbar ======================*/
    .navbar {
        box-shadow: 0 4px 9px rgba(0, 0, 0, 0.16);
        display: flex;
        justify-content: center;
    }

    .navbar-container {
        padding: 16px 64px;
    }

    /*======  toggle button ======*/
    .navbar__toggle {
        display: none;
    }

    /*======  main menu ======*/
    .navbar__logo {
        width: 92px;
    }

    .menu {
        display: block;
    }

    /*======  login button ======*/
    .navbar__login {
        font-size: 1rem;
        font-weight: 700;
        line-height: 149%;
        padding: 8px 16px;
        border: 1px solid var(--primary-light);
        border-radius: 24px;
    }

    /*======================  header ======================*/
    .header {
        background: linear-gradient(253.17deg, #FFFFFF 0%, #E2F0FD 101.55%);
    }

    .header-container {
        padding-top: 68px;
    }

    /*======  banner ======*/
    .banner {
        text-align: center;
        margin-bottom: 40px;
    }

    .banner__title {
        font-size: 2.5rem;
        line-height: 140%;
        margin-bottom: 40px;
    }

    .banner__description-subtitle {
        font-size: 1.125rem;
        margin-bottom: 12px;
    }

    .banner__description-caption {
        font-size: 0.875rem;
    }

    /*======  category for types ======*/
    .category {
        width: 83%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 26px;
    }


    .type__card {
        border-radius: 32px;
        padding: 15px 0;
    }

    .type__card-tag {
        font-size: 0.75rem;
        line-height: 168%;
        top: -20px;
        padding: 4px 8px;
    }

    .type__card-image {
        width: 72px;
    }

    .type__card-text {
        font-size: 1rem;
    }

    /*======  category for accidents ======*/
    .category__accident {
        width: 100%;
    }

    .accident__card-container {
        width: 28%;
        padding: 12px;
    }

    .accident__card {
        padding: 14px 0;
    }

    .accident__card-text {
        font-size: 0.875rem;
    }

    /*======================  car bicycle image  ======================*/
    .car-bicycle__container {
        padding: 32px 0 88px 0;
    }

    .car-bicycle__image {
        width: 70%;
    }

    /*======================  Damage  ======================*/
    .damage__content {
        margin: 48px 0;
    }

    /*======  damage banner ======*/
    .damage__title {
        line-height: 144%;
    }

    .damage__description {
        font-size: 1rem;
        line-height: 149%;
        margin: 32px 0;
        width: 88%;
    }

    /*======  damage option ======*/
    .option__item-container {
        width: 33%;
        padding: 0 0 0 16px;
    }

    .option__item {
        font-size: 0.875rem;
    }

    .item__number {
        font-size: 1.25rem;
        line-height: 159%;
    }

    /*======  damage button ======*/
    .damage__button-container {
        margin-top: 40px;
    }

    .btn {
        font-size: 1rem;
    }

    /*======  damage image ======*/
    .damage__image-container {
        width: 80%;
        align-self: flex-end;
        margin-bottom: -45px;
    }

    /*======================  calendar  ======================*/
    .calendar-container {
        margin: 190px 0 160px 0;
    }

    /*======  calendar head ======*/
    .calendar__head {
        padding: 30px 0;
        font-size: 1.75rem;
        line-height: 144%;
    }

    /*======  calendar form ======*/
    .calendar__form {
        padding: 48px 40px;
    }

    .form-item {
        width: 33%;
        padding: 12px;
    }

    .calendar__form-label {
        left: 24px;
    }

    .calendar__form-item {
        padding: 8px 8px 8px 0;
        font-size: 0.875rem;
    }

    .form-button {
        margin-top: 48px;
    }

    /*======  calendar icon ======*/
    .calendar-icon__right {
        right: 56px;
    }

    .calendar-icon__left {
        left: 56px;
    }

    /*======================  services  ======================*/
    .service__item-container {
        padding: 24px;
    }

    .service__item {
        width: 156px;
        height: 156px;
        font-size: 0.75rem;
        line-height: 168%;
        padding: 34px 21px;
    }

    .services__item-image {
        width: 56px;
    }

    /*======================  slider  ======================*/
    .slider__card-container {
        padding: 0 12px;
        min-width: 40%;
    }

    /*======================  footer  ======================*/
    /*======  about  ======*/
    .about {
        padding: 48px 0;
    }

    .about__title {
        line-height: 144%;
    }

    .about__description {
        font-size: 1rem;
        line-height: 149%;
    }

    /*=============  footer content  =============*/
    .footer__content {
        font-size: 0.875rem;
        justify-content: space-evenly;
    }

    /*======  insurances  ======*/
    .footer__insurances {
        width: 13%;
    }

    /*======  quickAccess  ======*/
    .footer__quickAccess {
        width: 13%;
    }

    /*======  footer about  ======*/
    .footer__about {
        width: 29%;
        margin: 0;
        order: -1;
    }

    /*======  footer logos  ======*/
    .footer__logos {
        width: 30%;
    }

    /*======  footer copyRight  ======*/
    .footer__copyRight {
        flex-direction: row;
        justify-content: space-between;
        padding: 22px 144px;
    }

    .footer__copyRight-description {
        margin: 0;
    }

    /*======================  comment  ======================*/
    .comment__icon {
        width: 72px;
    }

    .comment__extend {
        width: 72px;
        height: 72px;
    }
}

/*======  wide screen ======*/
@media (min-width: 1200px) {
    /*======================  main style ======================*/
    .container {
        width: 80%;
    }

    /*======================  navbar ======================*/
    .navbar-container {
        padding: 16px 144px;
    }

    /*======================  header ======================*/
    /*======  category for types ======*/
    .type__card-container {
        width: 17%;
    }

    .type__card-tag {
        padding: 8px 16px;
    }

    /*======================  Damage  ======================*/
    .damage-container {
        text-align: right;
        justify-content: space-between;
    }

    .damage__content {
        width: 46%;
    }

    /*======  damage banner ======*/
    .damage__description {
        margin: 16px 0;
    }

    /*======  damage image ======*/
    .damage__image-container {
        width: 45%;
        margin-bottom: -30px;
    }

    /*======================  calendar  ======================*/
    .calendar-container {
        margin: 190px 240px 160px 240px;
    }

    /*======================  slider  ======================*/
    /*======================  slider  ======================*/
    .slider__card-container {
        padding: 0 12px;
        min-width: 25%;
    }

    .slider__card {
        padding: 24px 34px;
    }

    /*======================  footer  ======================*/
    /*=============  footer content  =============*/
    /*======  footer logos  ======*/
    .footer__logos {
        width: 25%;
    }
}